---
import LinkCard from "../components/LinkCard.astro";
import { departments } from "../data/departments.json";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Departments & Documents"
  subtitle="Find out about the teams responsible for our product"
  active="departments"
>
  <div
    class="py-4 md:py-8 px-2 md:px-4 lg:px-8 xl:px-16 2xl:px-32 flex flex-col bg-palette-100 w-full"
  >
    <div class="flex flex-col w-full lg:w-3/5 xl:w-1/2 mx-auto">
      <h3
        class="font-bold font-montserrat text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
      >
        Departments within Penelope ltd
      </h3>
      <p class="text-justify hyphens-auto w-full mt-4">
        At Penelope LTD, we have 7 different departments which collaborate
        closely to deliver successful software development projects. These
        departments work together to identify client requirements, design
        mock-ups and interfaces, create high-quality software, eliminate
        defects, manage finances, and promote software projects to clients and
        end-users.<br /><br />
        Clear communication channels, regular team meetings, and collaboration ensure
        that all departments are aware of each other's progress and requirements,
        allowing them to work together seamlessly. The company is divided into different
        departments to ensure efficient functioning and to enable team members to
        focus on their respective areas of expertise. By working together, the different
        departments at Penelope LTD can deliver high-quality software projects that
        meet or exceed client expectations.
      </p>
    </div>
    <div class="flex flex-col w-full lg:w-3/5 xl:w-1/2 mx-auto mt-10">
      <h3
        class="font-bold font-montserrat text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
      >
        Team Collaboration
      </h3>
      <p class="text-justify hyphens-auto w-full mt-4">
        Our team fosters effective collaboration and communication through a
        combination of project management software, version control systems, and
        messaging platforms. For project management, we utilise Monday.com, a
        robust project management software that helps us streamline our
        workflows, track tasks, and manage project timelines. This platform
        allows us to organise and allocate resources, assign tasks, and monitor
        progress, ensuring efficient project execution and effective team
        collaboration. <br /><br />
        To ensure version control and manage our codebase effectively, we utilise
        Git, a widely adopted version control system. Git enables our team to track
        changes, merge code, and collaborate seamlessly on software development projects.
        It helps us maintain a centralised repository, manage different versions
        of our code, and facilitate collaborative coding efforts.
      </p>
    </div>
    <div class="flex flex-col w-full lg:w-3/5 xl:w-1/2 mx-auto mt-10">
      <h3
        class="font-bold font-montserrat text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
      >
        Communication
      </h3>
      <p class="text-justify hyphens-auto w-full mt-4">
        In terms of communication, we leverage multiple messaging platforms to
        facilitate quick and efficient interactions within our team. These
        provide instant communication channels for team members to discuss
        project-related matters, share updates, seek clarifications, and
        coordinate tasks. These platforms enable real-time communication,
        fostering effective collaboration and ensuring that team members stay
        connected and aligned. <br /><br />
        By combining Monday.com for project management, Git for version control,
        and using diverse messaging platforms, our team creates a collaborative work
        environment that promotes transparency, seamless coordination, and efficient
        communication. This allows us to stay organised, address challenges promptly,
        and deliver high-quality results within project timelines.
      </p>
    </div>
    <div
      class="grid grid-cols-1 grid-rows-4 md:grid-cols-4 md:grid-rows-1 mt-10 sm:w-1/2 sm:mx-auto md:mx-0 md:w-full"
    >
      {
        departments.slice(0, 4).map((department) => (
          <div class="m-8">
            <LinkCard
              title={department.name}
              imageUrl={department.imageUrl}
              href={`departments/${department.name
                .toLowerCase()
                .replaceAll(" ", "-")
                .replaceAll("&", "")}`}
            />
          </div>
        ))
      }
    </div>
    <div
      class="grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1 md:mx-[12.5%] sm:w-1/2 sm:mx-auto md:w-auto"
    >
      {
        departments.slice(4, 8).map((department) => (
          <div class="m-8">
            <LinkCard
              title={department.name}
              imageUrl={department.imageUrl}
              href={`departments/${department.name
                .toLowerCase()
                .replaceAll(" ", "-")
                .replaceAll("&", "")}`}
            />
          </div>
        ))
      }
    </div>
  </div>
</PageLayout>
