---
import Card from "../components/Card.astro";
import LinkButton from "../components/LinkButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="FaunaFinder"
  subtitle="Take a tour and learn more about our product..."
  active="faunafinder"
>
  <Card
    title="What is fauna finder?"
    content="Fauna Finder is a mobile app developed by Penelope LTD, a group based in the University of York. The app is designed to help students and visitors identify and learn about the wildlife on campus. The app currently focuses on avian wildlife, with the intent to expand it to include other wildlife and animals in the future. The app acts as an identification tool to help students and visitors alike to find and learn more about the diverse campus wildlife. The app features a location screen that allows users to select from the available university campuses. Once a campus is selected, the app updates the list of animals accordingly. The app provides users with a long list of birds, their respective names, and corresponding illustrations. Each bird species comes with detailed information that includes its scientific name, physical description, interesting facts, and natural habitat."
    imageUrl="/faunafinder/faunafinder.jpg"
    textBg="bg-palette-500"
    imageBg="bg-palette-100"
    titleColor="text-palette-100"
    contentColor="text-palette-100"
  />
  <Card
    title="Key features and benefits"
    content="Users can tap on a bird in the list to access its profile, which provides detailed information about the species. The illustrations in the main menu are designed to amplify the most pronounced features of the bird, aiding in its identification. The profile page includes several types of media, including photos, videos, and audio recordings of the bird in question. Additionally, users can learn about the bird's diet, location on campus as well as worldwide, and lots of other fun and interesting facts. The app's design is visually appealing and user-friendly, making it easy for anyone to navigate. The app is designed to be accessible to bird enthusiasts of all levels, from amateur birdwatchers to professional ornithologists. The app's comprehensive data on each bird species makes it a useful tool for research, education, and conservation efforts."
    imageUrl="/faunafinder/app.png"
  />
  <Card
    textFirst={false}
    title="Functionalities of the app"
    content="Fauna Finder is a ground-breaking app that showcases the power of technology to revolutionise the way we learn and research about wildlife. By providing a wealth of information about avian species, the app helps users understand and appreciate the biodiversity of the natural world in an unprecedented way.  The user-friendly interface makes it easy for anyone to access and navigate the app's content. The intuitive design allows users to quickly find the information they need, making it an invaluable tool for all users. By providing detailed descriptions of each species, along with photos, videos, and audio recordings, the app makes it possible for users to learn about birds from anywhere in the world. Overall, Fauna Finder is a must-have app for anyone interested in the animal kingdom. Its innovative use of technology, comprehensive database, user-friendly interface, and interactive features make it a valuable tool for birdwatchers, ornithologists, and nature lovers alike. The app sets a new standard for how technology can be used to enhance learning and research in the field of wildlife studies."
    imageUrl="/faunafinder/about.png"
  />
  <div class="w-full bg-palette-500 pt-4 pb-20 flex flex-col">
    <h4
      class="w-max mx-auto font-roboto text-xl sm:text-2xl md:text-4xl lg:text-5xl xl:text-7xl 2xl:text-8xl text-palette-100 font-bold text-center uppercase"
    >
      A look at the app
    </h4>
    <img
      src="/faunafinder/all.png"
      class="w-full md:w-1/2 mx-auto object-cover mt-4 px-2 md:mt-8"
    />
    <div
      class="w-full mx-auto text-palette-100 md:w-1/2 text-justify hyphens-auto mt-8 font-montserrat"
    >
      <p>
        When users launch our app, they are presented with a user-friendly
        interface that allows them to easily navigate and explore information
        about birds in their selected campus location. The first step is for
        users to select the campus location they are interested in from the
        available options. This selection filters the bird data specific to the
        chosen campus, ensuring that users receive relevant and accurate
        information.
      </p>
      <br />
      <p>
        Once users have chosen their desired campus location, they are presented
        with a comprehensive list of birds that inhabit that particular area.
        The list provides an overview of the bird species, allowing users to
        browse through and find the birds they are interested in learning more
        about. Users can conveniently click on a specific bird from the list to
        access the individual bird's dedicated page.
      </p>
      <br />
      <p>
        On the bird's individual page, users are provided with detailed
        information about the selected bird species. The page is designed to
        offer an immersive experience, allowing users to explore different
        sections that provide valuable insights into the bird's characteristics,
        behavior, habitat, and more. Users can expand on each section to access
        in-depth information, enabling them to deepen their knowledge and
        understanding of the specific bird species they are interested in.
      </p>
      <br />
      <p>
        In addition to the bird-specific pages, our app includes an 'About the
        App' section. This section serves as a valuable resource for users to
        learn more about how to effectively utilize the app's features and
        functionality. It provides clear instructions, tips, and guidelines on
        navigating the app, accessing bird information, and maximizing their
        experience. Furthermore, the 'About the App' page also introduces users
        to the creators of the app, sharing insights into the team behind its
        development. Additionally, information regarding licensing and
        attributions is provided to ensure transparency and compliance with any
        necessary copyright or usage requirements.
      </p>
      <br />
      <p>
        By offering a user-friendly interface, easy campus selection,
        comprehensive bird lists, detailed individual bird pages, and
        informative sections, our app provides users with an enriching
        experience. Users can effortlessly explore and expand their knowledge
        about various bird species, their habitats, and the campus locations
        they inhabit, enhancing their appreciation and understanding of avian
        wildlife.
      </p>
    </div>
  </div>
  <div
    class="w-full relative pb-8 bg-[url('/faunafinder/system.jpg')] bg-cover"
  >
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-palette-500 opacity-90"
    >
    </div>
    <div class="relative w-full px-2 flex flex-col mx-auto md:w-1/2 xl:w-2/5">
      <h4
        class="w-max mx-auto font-roboto text-xl sm:text-2xl md:text-4xl lg:text-5xl xl:text-7xl 2xl:text-8xl text-palette-100 font-bold text-center uppercase -translate-y-1/2"
      >
        Our system
      </h4>
      <img
        src="/faunafinder/diagram.png"
        class="my-8 w-full object-fill rounded-lg border-4 border-palette-600"
      />
      <div
        class="w-full mx-auto text-palette-100 text-justify hyphens-auto font-montserrat"
      >
        <p>
          The system consists of an android user application, a desktop admin
          application and a database hosted on a remote server.
        </p>
        <br />
        <p>
          On the main user client, developed for Android, the user is presented
          with the home page containing a list of local avian wildlife species
          upon launching the application. From this page the user can change
          their location or view information about the application. Choosing a
          bird presents the user with a bird profile page containing the related
          information. Basing this application on android use allows the user to
          easily access the application while on the go.
        </p>
        <br />
        <p>
          A secondary guide admin client, developed for desktops, allows guides
          to create, read, update, and delete information from the database. Due
          to this client giving access to the application&rsquo;s database,
          appropriate security measures need to be taken to ensure the validity
          of the user's intentions. This includes requiring an API key to access
          the client. Basing this application on desktop use allows for ease
          when editing information and adding content from file browsers.
        </p>
        <br />
        <p>
          Having an admin key on the admin client will give the required access
          for creating API keys and creating/updating locations.
        </p>
      </div>
      <LinkButton link="/system" text="Learn more" inverted={true} tw="my-8" />
    </div>
  </div>
</PageLayout>
