---
import Icon from "astro-icon";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import LinkCard from "../components/LinkCard.astro";
import Navbar from "../components/Navbar.astro";
import ContentBlock from "../components/ContentBlock.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Penelope LTD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar active="home" />
    <main>
      {/* Hero section */}
      <div
        class="h-[100dvh] h-screen text-white flex flex-col bg-[url('/hero.webp')] bg-cover relative overflow-hidden"
      >
        <div class="flex flex-col my-auto mx-auto relative">
          <div
            class="absolute top-0 left-0 bottom-0 right-0 blur-3xl bg-lime-200 opacity-50"
          >
          </div>
          <h1
            class="text-4xl md:text-6xl lg:text-8xl mx-auto font-lobster font-bold textShadow relative"
          >
            FaunaFinder
          </h1>
          <h2
            class="mx-auto font-righteous text-lg md:text-xl lg:text-2xl textShadow relative"
          >
            Your window to nature&rsquo;s beauty
          </h2>
          <LinkButton text="Learn more" link="faunafinder" tw="mt-5 relative" />
        </div>
        <button
          class="absolute bottom-0 left-1/2 -translate-x-1/2 scale-100 hover:scale-110 transition-transform duration-150 ease-in"
          id="scrollBtn"
        >
          <div
            class="absolute top-0 left-0 bottom-0 right-0 blur-3xl bg-lime-200 opacity-50"
          >
          </div>
          <Icon name="mdi:chevron-double-down" class="w-20 md:w-44 relative" />
        </button>
      </div>
      <div id="content" class="font-righteous">
        <div class="w-full bg-palette-100 flex flex-col px-2 md:px-0 py-10">
          <h1
            class="text-center w-full md:w-1/2 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-6xl self-center"
          >
            Learn about your campus&rsquo; wildlife from those who know it best <span
              class="inline-block"
              ><img
                src={`${import.meta.env.BASE_URL}home/check.svg`}
                class="aspect-square w-5 md:w-10"
              /></span
            >
          </h1>
          <p
            class="w-full md:w-3/4 self-center text-center mt-4 text-lg md:text-2xl lg:text-3xl"
          >
            We work closely with your university&lsquo;s staff to ensure
            information is always correct and up-to-date. Fully immerse in your
            campus&lsquo; wildlife with <span
              class="text-transparent bg-clip-text bg-gradient-to-r from-palette-500 to-palette-600"
              >FaunaFinder.</span
            >
          </p>
        </div>
        <ContentBlock
          title="We've got you covered"
          textFirst={false}
          image="home/phone1.png"
        >
          Whether you&apos;re a student or a tourist, FaunaFinder stores an
          extensive database of wildlife in various UK universities campuses for
          you to explore.
          <br />
          <br />
          We&apos;re are constantly working on reaching new agreements with as many
          universities as we can. If your nearest campus is not supported yet, keep
          checking!
          <br />
          <br />
          Here&apos;s a (non-extensive) list of our roadmap:
          <ul class="list-disc ml-10 md:ml-8">
            <li>University of Durham</li>
            <li>Loughborough University</li>
            <li>University of Bath</li>
            <li>University of Warwick</li>
            <li>University of Southampton</li>
          </ul>
        </ContentBlock>
        <ContentBlock
          title="A tour guide in your pocket"
          image="home/phone2.png"
          dark={true}
        >
          Sure, you could email your University&apos;s grounds team and ask for
          a tour. But why bother when FaunaFinder runs in your pocket?
          <br />
          <br />
          All the information you will find within FaunaFinder has been vetted and
          approved by some very knowledgeable folks who take care of the very same
          animals you&apos;re curious about!
          <br />
          <br />
          What are you waiting for?
          <LinkButton
            slot="button-slot"
            link="faunafinder"
            text="Learn more"
            tw="md:mx-0 my-4"
          />
        </ContentBlock>
        <div class="w-full bg-palette-100 flex flex-col px-2 md:px-0 py-8">
          <h3
            class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-6xl self-center"
          >
            Explore our journey
          </h3>
          <div class="w-full flex flex-col md:flex-row mt-10 mb-8">
            <div class="w-full sm:w-1/2 md:w-1/4 mx-auto">
              <LinkCard
                title="Our work and departments"
                href="departments"
                imageUrl="home/departments.jpg"
              />
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 mx-auto mt-10 md:mt-0">
              <LinkCard
                title="Our product"
                href="faunafinder"
                imageUrl="home/icon.jpg"
              />
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 mx-auto mt-10 md:mt-0">
              <LinkCard
                title="The team"
                href="the-team"
                imageUrl="home/team.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>

  <style>
    .textShadow {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
        0 5px 15px rgba(0, 0, 0, 0.08);
    }
  </style>
  <script>
    const scrollBtn = document.getElementById(
      "scrollBtn"
    ) as HTMLButtonElement | null;

    if (scrollBtn) {
      scrollBtn.addEventListener("click", () => {
        const content = document.getElementById("content");

        if (content) content.scrollIntoView({ behavior: "smooth" });
      });
    }
  </script>
</html>
