---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Future roadmap"
  subtitle="A look into the future of fauna finder and penelope..."
  active="faunafinder"
>
  <div class="w-full relative grid md:grid-cols-2">
    <div class="w-full bg-palette-500 pl-[25%] pr-4 py-4">
      <h3
        class="font-bold font-montserrat text-xl md:text-3xl lg:text-4xl uppercase text-palette-100"
      >
        Future roadmap
      </h3>
      <p
        class="text-base md:text-lg lg:text-xl text-justify hyphens-auto mt-4 mx-auto text-palette-100"
      >
        As we strive to provide an exceptional platform dedicated to avian
        enthusiasts, we are committed to continuous improvement and innovation.
        This roadmap serves as a guide to the developments and enhancements that
        can lie ahead, aimed at elevating the user&rsquo;s bird-related
        experiences to new heights.
        <br />
        <br />
        We are dedicated to delivering an enriching journey, and this roadmap outlines
        our strategic vision and planned features. Here are some potential features,
        enhancements, and improvements that could be developed to enrich the experience
        of the user in our app:
      </p>
    </div>
  </div>
</PageLayout>
