---
interface Props {
  name: string;
  image: string;
}
const { name, image } = Astro.props;
---

<a
  class="flex flex-col rounded-lg p-1 shadow-md bg-palette-600 mx-4 relative lg:aspect-auto scale-100 hover:scale-110 transition-transform ease-in-out duration-150 mt-4"
  href={`/${name.toLowerCase().replaceAll(" ", "-").replaceAll("&", "")}`}
>
  <div
    class="w-full relative after:content-[''] after:h-1/2 after:-bottom-1 after:absolute after:w-full after:bg-gradient-to-b after:from-transparent after:to-palette-100"
  >
    <img src={image} class="rounded-t-lg w-full object-cover" />
  </div>
  <div class="w-full h-full grid bg-palette-100 rounded-b-lg">
    <h4
      class="font-black text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl py-2 md:py-4 text-center my-auto"
    >
      {name}
    </h4>
  </div>
</a>
