---
interface Props {
  text: string;
  link: string;
  inverted?: boolean;
  tw?: string;
}

const { text, link, tw, inverted = false } = Astro.props;
---

<a
  href={link}
  class={`rounded-3xl ${
    inverted
      ? "bg-palette-100 text-palette-500"
      : "bg-palette-500 text-palette-100"
  } py-4 px-10 shadow-sm hover:shadow-lg shadow-palette-700 hover:shadow-palette-700 transition-shadow hover:duration-500 font-righteous w-max mx-auto ${
    tw ? tw : ""
  }`}
>
  {text}
</a>
