---
interface Props {
  text: string;
  link: string;
  inverted?: boolean;
  tw?: string;
  id?: string;
}

const { text, link, tw, inverted = false, id } = Astro.props;
---

<a
  id={id}
  href={`${import.meta.env.BASE_URL}${link}`}
  class={`rounded-3xl ${
    inverted
      ? "bg-palette-100 border-palette-100 text-palette-500 hover:text-palette-100 hover:bg-palette-500"
      : "bg-palette-500 border-palette-500 text-palette-100 hover:bg-palette-100 hover:text-palette-500"
  } transition-[color,background-color,transform] scale-100 hover:scale-110 duration-150 py-4 border-2 px-10 font-righteous w-max mx-auto ${
    tw ? tw : ""
  }`}
>
  {text}
</a>
