<div class="bg-palette-100 flex flex-col px-2 md:px-8 lg:px-16 py-4 md:py-32">
    <h3
        class="font-bold font-righteous text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
    >
        Project workflow
    </h3>
    <p class="text-justify hyphens-auto w-full font-roboto mt-4 md:text-xl">
        To simplify the product development process, Penelope splits the project
        lifecycle into 5 distinct phases that provide the project with more
        predictability.
        <br /><br />
        The first phase consists of the Initiation Phase where the project is defined
        and a product vision is created.
        <br /><br />
        The second phase (Planning Phase) is the phase where all the goals and details
        are defined in order to complete what has been set on the first phase.
        <br /><br />The Execution Phase is characterised by the execution of the
        product, when all that has been defined comes to life.
        <br /><br />
        During the Control & Monitoring Phase, which happens alongside the previous
        phase, the Project manager is responsible for monitoring progress and making
        adjustments if necessary, ensuring that the product is aligned with what
        was defined in the project plan.
        <br /><br />
        At last, the Closure Phase dictates the end of the project and during this
        phase Penelope ensures that the product meets all the requirements defined
        in the first phase.
    </p>
    <h4
        class="font-bold font-righteous text-3xl md:text-5xl lg:text-6xl uppercase text-palette-600 mx-auto text-center my-20"
    >
        The workflow structure
    </h4>
    <img
        class="w-full md:w-1/2 object-cover mx-auto"
        src={`/${encodeURIComponent("Project Management")}/workflow.png`}
    />
</div>
