---
import { people } from "../../data/people.json";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  return people.map((person) => {
    return {
      params: { person: person.name.replace(" ", "-").toLowerCase() },
      props: {
        name: person.name,
        image: person.image,
        role: person.role,
        description: person.description,
      },
    };
  });
}

const { name, image, role, description } = Astro.props;
---

<PageLayout title={name} subtitle={role} active="the team" image={image}>
  <div class="bg-palette-150 flex flex-col px-2 md:px-8 lg:px-16 py-4 md:py-32">
    <div
      class="mx:auto my-auto md:mx-0 flex flex-col text-justify bg-palette-100 w-full md:max-w-[60%] p-4 rounded-lg shadow-md"
    >
      <h3
        class="font-bold font-righteous text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
      >
        My role at Penelope
      </h3>
      <p class="text-justify hyphens-auto w-full mt-4 font-roboto" set:html={description} />
    </div>
  </div>
</PageLayout>
