---
import NavBar from "../components/NavBar.astro";

interface Props {
  title: string;
  active: string;
}

const { title, active } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg font-kameron">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* Google Fonts */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kameron&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <NavBar active={active} />
    <slot />
    <img src="/duck.png" class="fixed top-full left-full -translate-x-full -translate-y-full"/>
  </body>
</html>

<style>
  .bg {
    background-image: url("/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-height: 100dvh;
  }
</style>
